h1 {
  font-size: 20px;
   border-style: dotted;
  border-width: 2px;
  border-color: white;
  height: 100px;
  width: 100px;
}
body {background-color: pink;}
p {font-size: 12px;}
body {color: white;}
p {color: white;}
ul {
list-style-type: square;
}
ol {
list-style-type: lower-alpha;
}
p {
 font-size: 50px;
    border-radius: 25px;
  background: red;
  padding: 20px;
  width: 2000px;
  height: 150px;
}
a {
 font-size: 30px;
}
