* {
  box-sizing: border-box;
}
header {
  float: left;
  width: 100%;
  background-color: lightgreen;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}
nav {
  float: left;
  width: 60%;
  height: 50px;
  background-color: grey;
  padding: 20px;
  border: 20px rgb(62, 132, 74);  
}

section {
  float: left;
  padding: 20px;
  width: 60%;
  background-color: pink;
  height: 200px;
   border: 20px rgb(73, 156, 73);
}
article {
  float: left;
  padding: 20px;
  width: 60%;
  background-color: red;
  height: 300px;
   border: 20px rgb(73, 156, 73);
}

aside {
  float: right;
    padding: 20px;
  width: 40%;
  background-color: lightblue;
  height: 500px;
   border: 20px rgb(73, 156, 73);
}

  footer {
  float: right;
     width: 100%;
  background-color: lightgreen;
  padding: 10px;
  text-align: center;
  color: white;
}
body {
width: 90%;
margin-left: auto;
margin-right: auto;
}  
