body 
   nav ul {
        list-style-type: none;
        margin: 0;
        padding-right: 10px;
      }
    nav a { text-decoration: none; } 
    nav li { display: inline; }
nav {background-color: rgb(0, 191, 255);}

}
